@charset "Utf-8";
/* Mais de 568px e menos de 968px */
@media screen and (min-width : 668px) and (max-width: 968px) {
    body {
        background-image: linear-gradient(to bottom,  #705791, #c5bbd1);
        background-attachment: fixed;
    }
    main {
        margin-top: 30vh;
        height: 20%;
        width: 90%;
        background-image: url(../imagens/metal-pequena.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    main > section#img {
        display: none;
    }
    main > section#texto {
        width: 40%;
        margin-left: 50%;
        padding-left: 0px;
    }
    main > section#login {
        width: 40%;
        margin-left: 45%;
    }
    main > section#login > form {
        width: 110%;
    }
    main > section#login > form > p#email > input {
        width: 111%;
        margin-top: 0px;
    }
    main > section#login > form > p#senha > input {
        width: 111%;
    }
}