@charset "Utf-8";
/* Mais de 568px e menos de 968px */
@media screen and (min-width : 668px) and (max-width: 968px) {
    body {
        background-image: linear-gradient(to bottom,  #6c3fa8, #759b98);
        background-attachment: fixed;
    }
    main {
        margin-top: 25vh;
        margin-bottom: 25vh;
        height: 330px;
        width: 600px;
        background-image: url(../imagens/metal.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        
    }
    main > section#img {
        display: none;
    }
    main > section#texto {
        width: 60%;
        margin-left: 40%;
        padding-left: 0px;
    }
    main > section#texto > h1 {
        padding-bottom: 0px;
        margin-top: 3%;
    }
    main > section#login {
        width: 60%;
        margin-left: 40%;
        padding-left: 0px;
    }
    main > section#login > form > p#email {
        width: 90%;
    }
    main > section#login > form > p#email > input {
        width: 287px;
        height: 37px;
    }
    main > section#login > form > p#senha > input {
        width: 287px;
        height: 37px;
    }
    main > section#login > form > p#isenha > input {
        width: 320px;
        height: 37px;
    }
    main > section#login > form > p#essen > input {
        width: 320px;
        height: 37px;
    }
}