@charset "Utf-8";
/* Mobile firsth */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
body {
    background-color: #7F0094;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: white;
    width: 250px;
    height: 100%;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 0px black;
}
main > section {
    padding: 0px;
    margin: 0px;
}
main > section > img {
    height: 40vh;
    width: 100%;
    border-radius: 20px 20px 1px 1px;
}
main > section#texto > h1 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0%;
}
main > section#texto > p {
    font-size: 0.8em;
    text-align: center;
}
main > section#login > form > p#email {
    background-color: #7F0094;
    width: 90%;
    height: 7vh;
    margin-left: 5%;
    border-radius: 10px;
}
main > section#login > form > p#email > label > span {
    color:white;
    padding-top: 0%;
}
main > section#login > form > p#email > input {
    background-color: rgb(204, 251, 255);
    height: 88%;
    width: 83%;
    border-radius: 10px;
}
main > section#login > form > p#senha {
    background-color: #7F0094;
    width: 90%;
    height: 7vh;
    margin-left: 5%;
    border-radius: 10px;
}
main > section#login > form > p#senha > label > span {
    color:white;
    padding-top: 0%;
}
main > section#login > form > p#senha > input {
    background-color: rgb(204, 251, 255);
    height: 88%;
    width: 83%;
    border-radius: 10px;
}
main > section#login > form > p#isenha > input {
    background-color: rgb(139, 170, 173);
    height: 30px;
    width: 230px;
    border-radius: 10px;
    margin-left: 5%;
    border: rgb(204, 251, 255);
}
main > section#login > form > p#essen > input {
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 230px;
    border-radius: 10px;
    margin-left: 5%;
    border: 2px solid black;
    margin-bottom: 3%;
}